
.content1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    line-height: 1.6;

}
.contimg {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    border-color: 20px black;
    box-shadow: 0 100px 200px rgba(0, 0, 0, 0.1);
    margin-right: 600px;
}

#para1{
    text-align:inherit;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 400;
    font-style: italic;
    color: #446353;
    text-shadow: 0px 1px 1px black;
    margin-left: 625px;
    margin-top: -420px;
    margin-bottom: 50px;

}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: 600;
    font-style: italic;
    color: #205b45;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    margin-top: 4px;
    margin: 22px;
}
#fieldset1{
    border: 2px;
    border-color: #000;
}


/*About Us content part 2 */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    

  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  p{
    color: black;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #e1efe9;
    color: rgb(231, 224, 224);
    
  }
  
  .container {
    padding: 0 16px;
    height: 300px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    border-radius: 4px;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  #p1{
    color: rgb(8, 61, 46);
  }
  
  .para3{
    margin: auto;
    padding: 2px;
  }
  

